/***********************************************************************************BlueMagpy*/

html {
  background-color: #1C1F2C;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* GENERAL *****************/


*,
*:before,
*:after {
  box-sizing: inherit;
} 

body {
  font-family: AvenirNext-Regular;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
 

}
.logo {
  float: left;
  width: 6%;
  margin-top: .9rem ;
  margin-left: 3.4rem;
}
.dottedline {
  position: relative;
 
}

/*.line {
  position: relative;
  width: 80%;
  top: 5rem;
  left: 5.8rem;
  border: .2px solid #AE1818;
  margin-bottom: 2rem;
}*/

/* • • • • ••: */
.navdots {
  font-size: 5rem;
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 4rem;
  margin-top: 9rem;
  line-height: 3rem;
  color: #490202;
}

.dots:after {
  position: absolute;
  top: -2rem;
  content: " •    • •                 •  • •    •••    • ";
  left: 12rem;
  color: #AE1818 ;
  font-family: AvenirNext-Regular;
font-size: 18px;
color: #8F0A0A;
letter-spacing: 30px;
  text-decoration: line-through;
}


.bar {
  background: #6A2C2C;
  border-right: 90px solid #DCAA47;
  border-left: 70px solid #DCAA47;
  border-top: 10px solid  #DCAA47;
   border-bottom: 1px solid  #DCAA47;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
 margin:3rem;
 margin-top: 5rem;
  height: 450px;
 /* width: 90%;*/
  z-index: 200;
  

}
.gallery{
    margin: 0;
    background: #2d2319;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

div.img {
    margin: 5px;
    border: 1px solid #DCAA47;
    float: left;
    width: 9rem;
    padding: .5rem;

}

div.img:hover {
    border: 1px solid #777;
     /*animation-play-state: running;
    position: relative;
    animation-name: show;*/
}
/*.hidden {
  height: 10%;
  float: right;
  visibility: hidden;
  animation: show 10s linear infinite;
  animation-play-state: paused; 
}

@keyframes show {
    from {visibitily: hidden;}
    to {visibility: visible;}
}*/

div.img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: #DCAA47;
}

/*.box {
  background: #6A2C2C;
  border: 1px solid #632F2F;
  height: 40%;
  width: 50%;
  margin-top: 3%;
  z-index: 10;
  position: absolute;
  left: 10%;
}*/
/*.box::after {
  content: "      |  || |      |   | | ||    ";
  text-decoration: overline;
  position: absolute;
  overflow: hidden;
  top:  22rem;
  color: #AE1818 ;
  font-family: AvenirNext-Regular;
  font-size: 18px;
  letter-spacing: 30px;
}*/













.randomizer {
  background: #F76234;
/*  border: 60px solid #1C1F2C;*/
  height: 7rem;
  width: 7rem;

  z-index: 100;
  position: absolute;
 right: 9%;
 top: 22.5rem;
 border-radius: 50%;
}



.circles {
  width: 79.3%;
  height:79.3%;
  right: 10%;
  position: absolute;
 border-radius: 50%;
  margin-top: 11%;
}
.one {

  z-index: 25;
   background-color: #AE1818;
}
.two {
  background-color: #8F0A0A;
  z-index: 26;
}
.three {
  background-color: #760202;
  z-index: 27;
}
.four {
  background: #490202;
  z-index: 28;
}

.bottom {
  background-color: #1C1F2C;
   height: 12rem;
  width: 100%;
   z-index: 21;
   margin-top: 80%;

}
/*  PAGE:CONTACT  *******************


.contact-info  {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.contact-info  a {
  display: inline-block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}
.contact-info li.mail a {
  background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

