/***********************************************************************************BlueMagpy*/

html {
  background-color: #1C1F2C;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* GENERAL *****************/


*,
*:before,
*:after {
  box-sizing: inherit;
} 

body {
  font-family: AvenirNext-Regular;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
 

}
.logo {
  width: 6%;
  margin-top: 1rem ;
  margin-left: 1rem;
}
.dottedline {
  position: relative;
 
}

/*.line {
  position: relative;
  width: 80%;
  top: 5rem;
  left: 5.8rem;
  border: .2px solid #AE1818;
  margin-bottom: 2rem;
}*/

/* • • • • ••: */


.dots:after {
  position: absolute;
  top: 2.2rem;
  content: " •    • •                 •  • ••     •••    • ";
  left: 9rem;
  color: #AE1818 ;
  font-family: AvenirNext-Regular;
font-size: 18px;
color: #8F0A0A;
letter-spacing: 30px;
  text-decoration: line-through;
}


.bar {
  position: relative;
  height: 12%;
  width: 90%;
  top: 5rem;
  background: #DCAA47;

}

.box {
  background: #6A2C2C;
  border: 1px solid #632F2F;
  height: 40%;
  width: 50%;
  margin-top: 3%;
  z-index: 10;
  position: absolute;
  left: 10%;
}
.box::after {
  content: "      |  || |      |   | | ||    ";
  text-decoration: overline;
  position: absolute;
  overflow: hidden;
  top:  22rem;
  color: #AE1818 ;
  font-family: AvenirNext-Regular;
  font-size: 18px;
  letter-spacing: 30px;
}
.randomizer {
  background: #F76234;
  border: 60px solid #1C1F2C;
  height: 28rem;
  width: 28rem;
  margin-top: 5%;
  z-index: 20;
  position: absolute;
 right: 12%;
 border-radius: 50%;
}



.circles {
  width: 79.3%;
  height:79.3%;
  right: 10%;
  position: absolute;
 border-radius: 50%;
  margin-top: 11%;
}
.one {
/*  right: 10%;*/
  z-index: 25;
   background-color: #AE1818;
}
.two {
  background-color: #8F0A0A;
  z-index: 26;
}
.three {
  background-color: #760202;
  z-index: 27;
}
.four {
  background: #490202;
  z-index: 28;
}

.bottom {
  background-color: #1C1F2C;
   height: 12rem;
  width: 100%;
   z-index: 21;
   margin-top: 80%;

}
/*  PAGE:CONTACT  ********************/


.contact-info  {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.contact-info  a {
  display: inline-block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}
.contact-info li.mail a {
  background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/*-----------------Footer------------------------*/


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #1C1F2C;

}

